[Unit]
Description=WLAN (WiFi) driver reload service
After=iwd.service

[Service]
Type=simple
ExecStartPre=/sbin/modprobe -r brcmfmac
ExecStart=/sbin/modprobe brcmfmac
ExecStartPost=/usr/bin/systemctl restart iwd.service
Restart=on-failure

[Install]
WantedBy=multi-user.target
